body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  display: inline-block;
}

.MuiAppBar-root-03 {
  height: 55px;
}
